
   .first-box {
    width:340px; 
    float:left; 
    height: 350px   ;
    margin: 10px;
  }

 .second-box {
  width:340px; 
  float:left; 
  height: 350px;
  margin: 5px;
  }
  .third-box {
    width:340px; 
    height: 350px;
    float: right; 
    margin: 5px;
  }

  .four-box {
    width:340px; 
    height: 350px;
    float: right; 
    margin: 10px;
  }

  #pboton {
    width: 140px;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    top: 55%;
    left:45%;
    position: absolute;
  }

  #traductor {
    width: 140px;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    top:93%;
    left:70%;
    position: absolute;
  } 